@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  overflow-x: hidden;
}



/* collection connect */



.icon {
  cursor: pointer;
  font-size: 24px;
}
.collections {
  display: none;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.collections.active {
  display: block;
}

.image2last15{

  background: url("./assets/images/collectiion5.jfif") no-repeat center center;

  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;
  flex-shrink: 0;
}

.image2last16{

  background: url("./assets/images/collectiion6.jfif") no-repeat center center;

  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;
  flex-shrink: 0;
}

.container-fluid {
  display: flex;
  padding: 0;
  margin: 0;
}

.image-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.col-md-6.p-0.image5 {
  width: 300px;
}

.col-md-6.p-0.image6 {
  width: 300px;
}

input[type="email"] {
  border-radius: 4px;
  width: 411px;
  height: 36px;
  flex-shrink: 0;
  padding-right: 20px;
}
.input-addon {
  margin-top: -31px;
  margin-left: 380px;
}

input[type="email"]::placeholder {
  color: #000;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-transform: capitalize;
}

.headercollection {
  position: relative;
  top: 0;
  color: black;
  width: 100%;
  flex-shrink: 0;
}



.SÖTBELLA {
  font-weight: 400;
  line-height: 64px;
  align-items: center;
  color: #000;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 100% */
}
p.SÖTBELLA {
  color: black;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: 16px;
  margin-left: 16px;
  text-decoration: none;
}

a.text-reset {
  text-decoration: none;
  color: inherit;
}

/* Right-Aligned Icons */
.row .col-md-6:last-child a {
  margin-right: 12px; /* 24px gap between icons */
}

.row .col-md-6:last-child a:last-child {
  margin-right: 0; /* No margin on the last icon */
}

.icon.active svg rect {
  fill: black; /* Fills the rectangle with black color */
  stroke: white; /* Optional: Changes the stroke color for contrast */
}




.showtexthover {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlaytext:hover .showtexthover {
  opacity: 0.3;
}

.overlaytext:hover .middle {
  opacity: 1;
}

.overlaytext1:hover .showtexthover {
  opacity: 0.3;
}

.overlaytext1:hover .middle1 {
  opacity: 1;
}

.rect-fill {
  stroke: black;
  fill: none;
  transition: fill 0.3s ease;
}

.icon.active .rect-fill {
  fill: black;
}



.overlaytext {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlaytext1 {
  position: relative;
  width: 100%;
  height: 100%;
}


a:link, a:visited {

  text-decoration: none;

  color: black; /* Set your desired default link color */

}
.addtocart {
  color: #000;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 154px;
  background-color: #000;
  color: white;
  padding: 8px 0px;
  text-decoration: none; /* Removes underline */

}

.position-relative {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 70%; /* Center vertically */
  left: 75%; /* Center horizontally */
  transform: translate(-50%, -50%);
  color: white; /* Text color */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth fade-in effect */
}

.position-relative:hover .overlay-text {
  opacity: 1; /* Show text on hover */
}



.middle1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



.middle {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image11:hover .middle {
  opacity: 1; /* Show on hover */
}


p.togglemenu {
  margin-bottom: 32px;
  color: #000;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 25px;
}

a:link, a:visited {

  text-decoration: none;

  color: black; /* Set your desired default link color */

}

p.coords {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

p.filter {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-transform: capitalize;
  margin-bottom: 24px;
}
p.filter1 {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-transform: capitalize;
  margin-left: 134px;
  margin-top: 2px;
}
.lens {
  top: 57px;
  left: 113px;
  width: 20px;
  height: 18px;
  position: absolute;
  flex-shrink: 0;
}

.list-inline-item {
  display: inline-block;
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  margin-left: 0px;
}


.col-md-4.text-center.linksall.text-style {
  margin-left: -34px;
  margin-top: -18px;
}

/* Style for active icons */
.icon.active {
  color: #fff; /* White text when active */
}

/* Hide inactive content sections */
.collection {
  display: none;
}

/* Show active content */
.collection.active {
  display: block;
}


.image1,
.image2 {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}

.app-icon {
  width: 181px;
  height: 55px;
  border-radius: 20px;
  margin: 16px;
  background: url(<path-to-image>) lightgray -11.341px -5.801px / 112.782%
    121.875% no-repeat;
}

.app-icon1 {
  width: 181px;
  height: 55px;
  border-radius: 20px;
  background: url(<path-to-image>) lightgray -16.023px -26.222px / 118.033%
    187.963% no-repeat;
}

.image5 {
  background-image: url("./assets/images/section5image2.png");
  background-size: cover;
  background-position: center;
}

.image6 {
  background-image: url("./assets/images/lastsection\ image.png");
  background-size: cover;
  background-position: center;
}

.section6 p {
  color: #000;
  text-align: center;
  font-family: Alike;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 40px;
}

.imagefullwidth .img {
  display: flex;
  width: 1442px;
  height: 1828px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.imagefullwidth{
  background-image: url("./assets/images/collection3.jfif");
  background-size: cover;
  background-position: center center;

}


.whitetopgirl {
  width: 100%;
  flex-shrink: 0;
}

.whitetopgirl-h {
  object-fit: cover;
  height: 581px;
  width: 100%;
}

.col-md-6.p-0.image5 {
  width: 354px;
  height: 444px;
  object-fit: cover;
}

.col-md-6.p-0.image6 {
  width: 354px;
  height: 444px;
  object-fit: cover;
}

.image5,
.image6 {
  width: 354px;
  height: 444px;
  background-size: cover;
  background-position: center;
}

.image5,
.image6 {
  width: 100%;
  height: 444px;
}

.position-relative {
  position: relative;
  z-index: 1;
}

.contentimage {
  justify-items: baseline;
  margin-left: 13px;
}

.section6 .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  font-family: MonteCarlo;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 104px;
}

.section1text .bottom {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 68px;
  display: flex;
  width: 195px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #fff;
}

.strike-through {
  text-decoration: line-through;
}

.image1 {
  background: url("./assets/images/reddress1.jfif") no-repeat center center;
}

.image2 {
  background: url("./assets/images/whitedress1.jfif") no-repeat center center;
}

.image1,
.image2 {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;
  flex-shrink: 0;
}

.image11 {
  background: url("./assets/images/collection1.jfif") no-repeat center center;
}

.image22 {
  background: url("./assets/images/collection2.jfif") no-repeat center center;
}

.image11,
.image22 {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;
  flex-shrink: 0;
}
.imagecollection {
  background: url("./assets/images/collectiion4.jfif") no-repeat center center;
  background-size: cover;
  background-position: center center;
  width: 100%;

  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.secondsectionimage {
  background: url("./assets/images/blackdressgirl.jfif") no-repeat center center;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}
.secondsectionimage2 {
  background: url("./assets/images/tgirl.jfif") no-repeat center center;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}

.secondsectionimage3 {
  background: url("./assets/images/halfgirl.jfif") no-repeat center center;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}

.secondsectionimage4 {
  background: url("./assets/images/grey2sectiongirl.jfif") no-repeat center
    center;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}

.thirdsectionimage1 {
  background: url("./assets/images/zebra.jfif") no-repeat center center;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}
.thirdsectionimage2 {
  background: url("./assets/images/oceandress.jfif") no-repeat center center;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}
.thirdsectionimage3 {
  background: url("./assets/images/grey1section3.jfif") no-repeat center center;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}
.thirdsectionimage1 {
  background: url("./assets/images/lastsection\ image.png") no-repeat center
    center;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}

.thirdsectionimage31 {
  background: url("./assets/images/zebra.jfif") no-repeat center center;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}
.thirdsectionimage32 {
  background: url("./assets/images/lastsectionmm.jfif") no-repeat center center;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}

.image33 {
  background: url("./assets/images/partywearblack1.jfif") no-repeat center
    center;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.image46 {
  background: url("./assets/images/collectiion5.jfif") no-repeat center center;
}

.image33,
.image44 {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}

.image2last {
  background: url("./assets/images/collectiion5.jfif") no-repeat center center;

  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 581px;

  flex-shrink: 0;
}


.imagecollection1 {
  background: url("./assets/images/collectiion4.jfif") no-repeat center center;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}

.image2last17 {
  background: url("./assets/images/collectiion6.jfif") no-repeat center center;

  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 581px;

  flex-shrink: 0;
}

.image2last11 {
  background: url("./assets/images/collectiion7.jfif") no-repeat center center;

  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}

.image2last12 {
  background: url("./assets/images/collectiion8.jfif") no-repeat center center;

  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}

.blackdress1 {
  background: url("./assets/images/blackdress1.png") no-repeat center center;
  background-size: cover;
  height: 680px;
}

.blackdress2 {
  background: url("./assets/images/blackdress2.png") no-repeat center center;
  background-size: cover;
  height: 680px;
}

.blackdress3 {
  background: url("./assets/images/blackdress3.png") no-repeat center center;
  background-size: cover;
  height: 680px;
}

.heightwidthofimage {
  height: 720px;
  width: 4050px;
}

.divsize {
  height: 736px;
  width: 1280px;
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
  justify-content: space-between;
}

.para2 {
  margin-top: 126px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  text-align: center;
  line-height: 26px;
}

.para2 .contentpara {
  color: #000;
  text-align: center;
  font-family: "Alike";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 5px;
}

.para2 .contentpara1 {
  color: #000;
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 150% */
  text-transform: uppercase;
  margin-bottom: 24px;
}

.videopic {
  display: flex;
  flex-wrap: wrap;
}

.newarrive .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

.newarrive .col-6 {
  flex: 1 1 calc(25% - 15px);
  max-width: calc(25% - 15px);
}

.newarrive img {
  object-fit: cover;
  border: none;
  width: 193px;
  height: 252.808px;
  flex-shrink: 0;
  row-gap: 24px;
}
.col-md-1.d-flex {
  margin-left: 38px;
}

.faq {
  display: flex;
  width: 1440px;
  padding: 24px 0px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #000;
}

.faq img {
  max-width: 80px;
}

.faq p {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 150% */
  text-transform: capitalize;
}

.faq ul {
  padding: 0;
  margin: 0;
}

.spotlight {
  background: url("./assets/images/backgroundspotlight.png") no-repeat center
    center;
  background-size: cover;
  height: 343px;
  display: flex;
}
.knockut {
  font-family: "Alike";
  font-size: 36px;
  color: #000;
  margin-top: 56px;
  margin-bottom: 24px;
}

.knock {
  font-family: "Alike";
  display: flex;
  flex-wrap: wrap;
}

.knockutdetail {
  font-family: "Lato";
  font-size: 20px;
  color: #3d3d3d;
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 56px;
}

.footer li {
  color: #000;
  text-align: left;
  font-family: "Lato", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  /* 166.667% */
  text-transform: capitalize;
}

.reserved {
  font-family: "Lato", serif;
  color: gray;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-transform: capitalize;
}

.footer p {
  font-family: "Alike", serif;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.gap {
  gap: 24px;
  width: 18px;
  margin-top: 16px;
  margin-bottom: 54px;
}

.footer-links a {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  /* 166.667% */
  text-transform: capitalize;
}

.footer-links li {
  margin: 4px 0;
}

.withus {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin-bottom: 8px;
}

.footer-heading {
  color: #000;
  font-family: "Alike", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
}

.footer {
  margin-top: 48px;
  margin-bottom: -100px;
  font-family: "Alike", serif;
}

.footer h5 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 4px;
}

.footer-links a {
  text-decoration: none;
  text-align: center;
  font-family: "Lato";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-transform: capitalize;
}

.footer-heading {
  width: 73px;
  height: 20px;
}

.withus {
  color: #000 !important;
}

.footertext1 {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  width: 410px;
  height: 20px;
  color: #000;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  text-transform: capitalize;
}

.input-container .input {
  margin-top: 16px;
  width: 411px;
  height: 36px;
  flex-shrink: 0;
  margin-top: 16px;
  border-radius: 4px;
  border: 0.5px solid #000;
}

.input-container {
  width: 411px;
  height: 36px;
  flex-shrink: 0;
}

.email-input-wrapper p {
  font-family: "Alike";
}

input[type="email"] {
  border-radius: 4px;
  width: 411px;
  height: 36px;
  flex-shrink: 0;
  border: 0.5px solid #000;
}

.app-icons {
  display: flex;
  margin: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  width: 147px;
  height: 25px;
}

.app-icon {
  width: 130px;
  height: auto;
}

.down {
  margin-top: 48px;
  margin-bottom: 50px;
}

/* new css upward */

.image1,
.image2 {
  position: relative;
  overflow: hidden;
}

.image1:hover .video,
.image2:hover .video {
  display: block;
}

.image1:hover .image,
.image2:hover .image {
  display: none;
}

.app-icon {
  width: 181px;
  height: 55px;
  border-radius: 20px;
  margin: 16px;
  background: url(<path-to-image>) lightgray -11.341px -5.801px / 112.782%
    121.875% no-repeat;
}

.app-icon1 {
  width: 181px;
  height: 55px;
  border-radius: 20px;
  background: url(<path-to-image>) lightgray -16.023px -26.222px / 118.033%
    187.963% no-repeat;
}

.image5 {
  background-image: url("./assets/images/section5image2.png");
  background-size: cover;
  background-position: center;
}

.image6 {
  background-image: url("./assets/images/lastsection\ image.png");
  background-size: cover;
  background-position: center;
}

.image11 {
  background: url("./assets/images/collection1.jfif") no-repeat center center;
}

.image22 {
  background: url("./assets/images/collection2.jfif") no-repeat center center;
}

.image11,
.image22 {
  background-size: cover;
  background-position: center center;
  width: 720px;
  height: 1100px;
  flex-shrink: 0;
}

.image33 {
  background: url("./assets/images/partywearblack1.jfif") no-repeat center
    center;
}

.image46 {
  background: url("./assets/images/collectiion5.jfif") no-repeat center center;
}

.image33,
.image44 {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 848px;

  flex-shrink: 0;
}

.image2last1 {
  background: url("./assets/images/collectiion6.jfif") no-repeat center center;

  background-size: cover;
  background-position: center center;
  width: 100%;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.image2last11 {
  background: url("./assets/images/collectiion7.jfif") no-repeat center center;

  display: flex;
  width: 720px;
  height: 1100px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.image2last12 {
  background: url("./assets/images/collectiion8.jfif") no-repeat center center;

  display: flex;
  width: 720px;
  height: 1100px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.blackshort {
  background: url("./assets/images/collection2.jfif") no-repeat center center;
  width: 720px;
  height: 1100px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-size: cover;

  display: flex;
  align-items: center;
}

.skybluegirl {
  background: url("./assets/images/collectiion4.jfif") no-repeat center center;
  display: flex;
  width: 720px;
  height: 1100px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.blackdress1 {
  background: url("./assets/images/blackdress1.png") no-repeat center center;
  background-size: cover;
  height: 680px;
}

.blackdress2 {
  background: url("./assets/images/blackdress2.png") no-repeat center center;
  background-size: cover;
  height: 680px;
}

.blackdress3 {
  background: url("./assets/images/blackdress3.png") no-repeat center center;
  background-size: cover;
  height: 680px;
}

.spotlight {
  background: url("./assets/images/backgroundspotlight.png") no-repeat center
    center;
  background-size: cover;
  height: 343px;
  display: flex;
}
